version: "3.7"
services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5432:5432"
    volumes:
      - myapp-db:/var/lib/postgresql/data

  myapp:
    build:
      context: .
    environment:
      DB_SCHEMA: postgres
      DB_USER: postgres
      DB_PASSWORD: root
      DB_HOST: localhost
    depends_on:
      - postgres
    ports:
      - "4000:4000"

volumes:
  myapp-db:
